@model Regule.Models.CliComunicar
                <tr class="re-item">
                    <td>
                        @Html.EditorFor(m => Model.Tel,new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => Model.Tel, "", new { @class = "text-danger" })
                    </td>
                

                    <td>
                        <label>
                            @Html.CheckBoxFor(m => Model.Principal)
                            Primário
                        </label>
                    </td>
                    
                    <td>
                        @Html.HiddenFor(m => Model.Id)
                        <div class="btn btn-default remover" >
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </div>
                    </td>
                </tr>
