@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Regule</h1>
    <p class="lead">Um aplicativo para controle de compras e vendas com gerador de relatórios para melhor análise das transações.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestão de pessoas </h2>
        <p>
            O sistema suporta o cadastro de pessoas, tanto funcionários quanto os clientes, assim ele transforma toda a papelada em uma tela organizada e bonita onde é possivel encontrar os registros rapidamente.
        </p>
        <p>@Html.ActionLink("Visualizar →","Index","Clientes", new{area = ""}, new{@class="btn btn-primary"})</p>
    </div>
    <div class="col-md-4">
        <h2>Fluxo de produtos</h2>
        <p>As vendas suportam uma infinidade de valores, você pode vender em kg, L, ou qualquer unidade para facilitar a visualização e tudo isso não irá lhe atrapalhar em seus serviços diários.</p>
        <p>@Html.ActionLink("Visualizar →","Index","Compras", new{area = ""}, new{@class= "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Relatórios</h2>
        <p>Resumos e relatórios de vendas em algum período tambem estão presentes, não precisa mais esperar para saber sobre seus relatórios, assim as medidas podem ser tomadas rapidamente.</p>
        <p>@Html.ActionLink("Visualizar →", "Index", "Relatorios", new { area = "" }, new { @class = "btn btn-primary" })</p>
    </div>
</div>