@model Regule.Models.VendaProduto
                <tr class="re-item">
                    <td>
                        @Html.DisplayFor(m => Model.Produto.Nome)
                    </td>
                

                    <td>
                        @Html.DisplayFor(m => Model.Quantidade )
                    </td>


                    <td>
                        @Html.DisplayFor(m => Model.Unidade.Descricao)
                    </td>


                    <td>
                        @Html.DisplayFor(m => Model.Preco)
                    </td>
                </tr>
