@model Regule.Models.Pagamento
                <tr class="re-item">
                    <td>
                        @Html.DisplayFor(m => Model.Data)
                    </td>
                

                    <td>
                        @Html.DisplayFor(m => Model.Referencia )
                    </td>


                    <td>
                        @Html.DisplayFor(m => Model.Valor)
                    </td>
                </tr>
